html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
  /*color: #8FBC8F;*/
  color: 	#DA70D6;
}

.ttt-board {
  margin: 30px auto;
  width: 470px;
}

li {
  float: left;
  width: 150px;
  height: 150px;
  cursor: pointer;
  font-size: 100px;
}

li:hover {
  background: yellow;
}

.x,
.o {
  background: white;
  cursor: default;
  font-size: 100px;
  vertical-align: center;
}

.x:hover,
.o:hover {
  background: white;
}

.x:after,
.o:after {
  display: block;
  width: 100%;
  line-height: 150px;
  vertical-align: center;
}

.x:after {
  content: "X";
  font size: 150px;
}

.o:after {
  content: "O";
  font-size: 100px;
}

.game-over li {
  cursor: default;
}

.game-over li:hover {
  background: white;
}

.winner-x .x,
.winner-o .o {
  color: red;
}

.reset {
  display: block;
  padding: 10px;
  margin: 30px auto;
  background: red;
  border-radius: 5px;
  font-size: 24px;
  width: 240px;
}

.description {
  font-size: 20px;
}

a {
  text-decoration: none;
}
/*setting up the border*/

.square00 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.square01 {
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}

.square02 {
  border-bottom: 10px solid black;
}

.square10 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.square11 {
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}

.square12 {
  border-bottom: 10px solid black;
}

.square20 {
  border-right: 10px solid black;
}

.square21 {
  border-right: 10px solid black;
}

.square22 {

}

/* Footer */


.footer-content {
  margin-top: 60px;
  text-align: center;
}

.footer-content i {
  display: inline-block;
  margin-right: 20px;
  font-size: 32px;
}

.footer-signiture {
  display: inline;
  font-size: 36px;
  margin-right: 40px;
  font-family: 'Cookie', cursive;
}
